<div class="main-container">
    <h1>Filter</h1>

    <p class="subtitle">FOOD CATEGORY</p>
    <div class="filters">
        <button (click)="updateFilter(filter)" *ngFor="let filter of filters" [class.active]="this.activeFilters.includes(filter)">{{filter.name}}</button>
    </div>

    <p class="subtitle">DELIVERY TIME</p>
    <div class="filters">
        <button (click)="updateTimes(time)" [class.active]="timeActive(time)" *ngFor="let time of deliveryTimes">{{time}}</button>
    </div>

    <p class="subtitle">PRICE RANGE</p>
    <div class="filters">
        <button (click)="updateRanges(range)" [class.active]="this.activeRanges.includes(range)" *ngFor="let range of ranges">{{range.range}}</button>
    </div>
    
</div>