.main-container {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-bottom: 2rem;
}

.main-container::-webkit-scrollbar {
    display: none;
}

.filter-banner {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 1px solid var(--stroke);
    border-radius: 10px;
    width: fit-content;
    cursor: pointer;

    h3 {
        margin-left: 1rem;
        font-weight: normal;
    }
}

img {
    width: 100px;
}