.layout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.filters {
    width: 15%;
    min-width: 15%;
}

.restaurants {
    width: 70%;
}

.mobile-filters {
    display: none;
}

@media screen and (max-width: 1100px) {
    .mobile-filters {
        display: contents;
    }

    .filters {
        display: none;
    }
}